body{
  width:100%;
  height:100%;
  margin:0;
}

.title{
  position: absolute;
  top:10%;
  width:100%;
  height:10%;
  text-align: center;
}

#title1{
  font-size: 40px;
  letter-spacing: 2px;
  font-family: 'Spicy Rice', cursive;
}

#title2{
  font-size: 40px;
  letter-spacing: 2px;
  font-family: 'Spicy Rice', cursive;
}

/* https://codepen.io/tedmcdo/pen/PqxKXg */

.wavebox{
  overflow: hidden;
  position: absolute;
  top: -198px;
  width: 100%;
  height:-webkit-fill-available;
}

.wavebottom {
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}


@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.ocean {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom:-120%;
}


.bubble {
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -30px;
  opacity: 0.4;
  cursor: pointer;
  animation: bubble 13s ease-in-out infinite,
    sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 3em;
  }
}

.bubble--1 {
  left: 10%;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.2;
}

.bubble--2 {
  width: 15px;
  height: 15px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--4 {
  width: 25px;
  height: 25px;
  left: 40%;
  animation-delay: 8s;
  animation-duration: 17s;
  opacity: 0.2;
}

.bubble--5 {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.bubble--6 {
  width: 10px;
  height: 10px;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.4;
}

.bubble--7 {
  width: 15px;
  height: 15px;
  left: 90%;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
}

.bubble--9 {
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 19s;
  opacity: 0.2;
}

.bubble--10 {
  width: 40px;
  height: 40px;
  left: 30%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
}

.bubble--11 {
  width: 30px;
  height: 30px;
  left: 60%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--12 {
  width: 25px;
  height: 25px;
  left: 90%;
  bottom: 30px;
  animation-delay: -10.5s;
  animation-duration: 19s;
  opacity: 0.3;
}

#bg{
  width:100%;
  height:1850px;
  /* https://www.w3schools.com/css/tryit.asp?filename=trycss3_gradient-linear */
  background-image: linear-gradient(#c5dcea,#ffffff,#035871,#015971,#035871,#035871,#035871);
  z-index: -1;
  overflow: hidden;
}

#projectA{
  position: absolute;
  left:150px;
  bottom:-125%;
}

#shell{
  width:200px;
}

#projectB{
  position: absolute;
  left:650px;
  bottom:-120%;
}

#starfish{
  width:150px;
}

#projectC{
  position: absolute;
  left:1050px;
  bottom:-120%;
}

#turtle{
  width:150px;
}

.bigProjectTitle{
  position: relative;
  top: 10%;
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: fantasy;
}

.bigProjectsPreview{
  display: none;
  position: relative;
  left:-20%;
  width:400px;
  height:250px;
  background-color: #e3fff5;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 7px 0px black;
}

.previewImg{
  width:250px;
  height:150px;
}

.bigProjectPreImg{
  width:350px;
  height:170px;
}

#fish1box{
  position: absolute;
  top:45%;
}

#fish1{
  width:100px;
}


#fish2box{
  position: absolute;
  top:65%;
  animation-delay: 2s;
}

#fish2{
  width:100px;
}


#fish3box{
  position: absolute;
  top:85%;
  animation-delay: 2.5s;
}

#fish3{
  width:100px;
}


#fish4box{
  position: absolute;
  top:100%;
}

#fish4{
  width:100px;
}


#fish5box{
  position: absolute;
  top:115%;
  animation-delay: 3s;
}

#fish5{
  width:100px;
}


#fish6box{
  position: absolute;
  top:135%;
  animation-delay: 1s;
}


#fish6{
  width:100px;
}


#fish7box{
  position: absolute;
  display: inline;
  top:150%;
  animation-delay: 2s;
}


#fish7{
  width:100px;
}

.fishodd{
  left:-100px;
  animation:swimodd 10s;
  animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.fisheven{
  left:1550px;
  animation:swimeven 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes swimodd {
  from{left:-100px }
  to {left:1500px}
}

@keyframes swimeven {
 from {left:1550px}
 to {left:-150px}
}

.fishodd:hover {
  animation-play-state: paused;
}

.fisheven:hover {
  animation-play-state: paused;
}

.bigProject{
  cursor: pointer;
}

.previewodd{
  opacity: 0;
  animation: 1s ease-in-out;
  position: relative;
  left:-30%;
  width:300px;
  height:210px;
  background-color: #e3fff5;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 7px 0px black;
}

.previeweven{
  opacity: 0;
  animation: 1s ease-in-out;
  position: relative;
  left:-30%;
  width:300px;
  height:210px;
  background-color: #e3fff5;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 7px 0px black;
}

.mini{
  position: relative;
  top:10%;
  font-size: 20px;
  color:black;
  font-family:fantasy;
}

@keyframes popup {
  from {opacity:0}
  to {opacity:1}
}

@keyframes disappear {
  from {opacity:1}
  to {opacity:0}
}
