body{
  width:100%;
  height:100%;
}

#title1{
  position: absolute;
  left:500px;
  top:30px;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: 'Spicy Rice', cursive;
}

#title2{
  position: absolute;
  left:550px;
  top:80px;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: 'Spicy Rice', cursive;
}

.ocean {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom:-80%;
}


.bubble {
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -30px;
  opacity: 0.4;
  animation: bubble 13s ease-in-out infinite,
    sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 3em;
  }
}

.bubble--1 {
  left: 10%;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.2;
}

.bubble--2 {
  width: 15px;
  height: 15px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--4 {
  width: 25px;
  height: 25px;
  left: 40%;
  animation-delay: 8s;
  animation-duration: 17s;
  opacity: 0.2;
}

.bubble--5 {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.bubble--6 {
  width: 10px;
  height: 10px;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.4;
}

.bubble--7 {
  width: 15px;
  height: 15px;
  left: 90%;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
}

.bubble--9 {
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 19s;
  opacity: 0.2;
}

.bubble--10 {
  width: 40px;
  height: 40px;
  left: 30%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
}

.bubble--11 {
  width: 30px;
  height: 30px;
  left: 60%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--12 {
  width: 25px;
  height: 25px;
  left: 90%;
  bottom: 30px;
  animation-delay: -10.5s;
  animation-duration: 19s;
  opacity: 0.3;
}

#bg{
  width:100%;
  height:1500px;
  /* https://www.w3schools.com/css/tryit.asp?filename=trycss3_gradient-linear */
  background-image: linear-gradient(#e2eac5,#afe2ef,#a2e1fb,#02b2c0,#04a7b5,#015c7b);
  z-index: -1;
}

#shell{
  position: absolute;
  width:200px;
  left:150px;
  bottom:-70%;
}

#A{
  display: none;
  position: absolute;
  left:120px;
  bottom:-80%;
  width:400px;
  font-size: 40px;
  font-weight: bold;
  color:white;
}

#starfish{
  position: absolute;
  width:150px;
  left:650px;
  bottom:-65%;
}

#B{
  display: none;
  position: absolute;
  left:640px;
  bottom:-78%;
  width:100px;
  font-size: 40px;
  font-weight: bold;
  color:white;
}


#turtle{
  position: absolute;
  width:150px;
  left:1050px;
  bottom:-70%;
}

#C{
  display: none;
  position: absolute;
  left:1070px;
  bottom:50px;
  width:200px;
  font-size: 40px;
  font-weight: bold;
  bottom:-80%;
  color: white;
}


.fadeAnime{
  -webkit-animation: fadein 1s;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, transform 1s;
}

#fish1{
  position: absolute;
  top:35%;
  left:20%;
  width:200px;
}

#mini1{
  position: absolute;
  top:30%;
  left:20%;
  font-size: 15px;
}

#fish2{
  position: absolute;
  top:45%;
  right:25%;
  width:200px;
}

#mini2{
  position: absolute;
  top:42%;
  right:30%;
  font-size: 15px;
}

#fish3{
  position: absolute;
  top:65%;
  right:57%;
  width:150px;
}

#mini3{
  position: absolute;
  top:63%;
  right:60%;
  font-size: 15px;
}


#fish4{
  position: absolute;
  top:95%;
  left:20%;
  width:100px;
}

#mini4{
  position: absolute;
  top:90%;
  left:20%;
  font-size: 15px;
}


#fish5{
  position: absolute;
  top:90%;
  right:20%;
  width:100px;
}

#mini5{
  position: absolute;
  top:87%;
  right:20%;
  font-size: 15px;
}


#fish6{
  position: absolute;
  top:120%;
  left:30%;
  width:100px;
}

#mini6{
  position: absolute;
  top:115%;
  left:30%;
  font-size: 15px;
}

#fish7{
  position: absolute;
  top:115%;
  right:25%;
  width:100px;
}

#mini7{
  position: absolute;
  top:110%;
  right:25%;
  font-size: 15px;
}



.pointer{
  cursor: pointer;
}
