/* .pointer{
  cursor: pointer;
}

.text{
  /* transition: position 2s;
  transition-duration: 3.5s;
  transition-timing-function: linear; */
  /* transition: transform 2s;
} */

.A8SBwf{position:relative;margin:0 auto;padding-top:6px;width:484px;width:auto;max-width:484px;}
